{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" style="background-image: url('{{background_img}}')">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Horaris Pompeu. Personalitza el teu horari i sincronitza'l amb els teus dispositius mòbils</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
      <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
  </head>

  <body>
  <div id="wrap">

  <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Horaris Pompeu: {{term}}</a>
    </div>
    <ul class="nav navbar-nav navbar-right aux navbar-collapse collapse">
      <li><a href="/pmf">PMF</a></li>
      <li><a href="/problemes">Problemes?</a></li>
    </ul>
    {% block navbar %}
    {% endblock %}
  </div>
</div>

    <div class="container">
      <div class="jumbotron">
        {% block content %}
        {% endblock %}
      </div>
    </div> <!-- /container -->
  </div>
  <div id="footer">
      <div class="container">
        <p class="text-muted credit"><strong>Foto:</strong> {{background_caption}}</p>
        <p class="text-muted credit">Visita'ns al <a href="https://github.com/octavifs/horarispompeu">GitHub</a>!</p>
      </div>
  </div>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45995305-1', 'horarispompeu.com');
      ga('send', 'pageview');
    </script>
    <!-- /Google Analytics -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
