{% extends "base.html" %}

{% block navbar %}
 <div class="navbar-collapse collapse">
  <ul class="nav navbar-nav breadcrumbs">
    <li><a href="/facultat">Facultat</a></li>
    <li><a href="/grau">Grau</a></li>
    <li><a href="/curs">Curs</a></li>
    <li><a href="/assignatures">Assignatures</a></li>
    <li><a href="#">Calendari</a></li>
  </ul>
</div><!-- navbar-collapse -->
{% endblock %}

{% block content %}
<h1>Subscriu-te al calendari</h1>
<p>Acabem de generar el teu calendari.</p>
<p>Per sincronitzar-lo amb el teu mòbil, en primer lloc t'hi has de subscriure.</p>
<p>Segueix els següents passos per completar el procés:</p>

<h2>Subscripció</h2>
<input type="text" class="form-control-static input-lg col-xs-12" spellcheck="false" id="calendar_url" value="{{ calendar_url }}" onclick=this.select()>
<div class="video-container">
  <iframe width="640" height="480" src="//www.youtube.com/embed/VA9GbDRf5xU" frameborder="0" allowfullscreen></iframe>
</div>

<h2>Sincronització</h2>
<ul class="nav nav-tabs" id="sync">
  <li class="active"><a href="#android_sync" data-toggle="tab">Android</a></li>
  <li><a href="#ios_sync" data-toggle="tab">iOS</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="android_sync">
    <p>Per sincronitzar el calendari amb el teu dispositiu android en primer lloc assegura't que aquest té registrat el compte al qual has afegit l'horari.</p>
    <p>Per afegir un compte ves a <em>Preferencias > Cuentas > Añadir cuenta</em>.</p>
    <div class="video-container">
      <iframe width="640" height="480" src="//www.youtube.com/embed/QG5QNnQ5Tfg" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="tab-pane" id="ios_sync">
    <p>Próximament...</p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $("#submit_button").click(function(){
    var that = this;
    $.ajax({
      type: "POST",
      url: "/subscriu/",
      data: $("#subscription_form").serialize(),
      beforeSend: function() {
        $(that).button('loading');
        $("#subscription_form > .form-group").css("filter", "blur(2px)");
        $("#subscription_form > .form-group").css("-webkit-filter", "blur(2px)");
        $("#subscription_form > .form-group").css("-moz-filter", "blur(2px)");
        $("#subscription_form > .form-group").css("-o-filter", "blur(2px)");
        $("#subscription_form > .form-group").css("-ms-filter", "blur(2px)");
      },
      success: function(data) {
        $(that).button('reset');
        $("#subscription_form > .form-group").css("filter", "blur(0px)");
        $("#subscription_form > .form-group").css("-webkit-filter", "blur(0px)");
        $("#subscription_form > .form-group").css("-moz-filter", "blur(0px)");
        $("#subscription_form > .form-group").css("-o-filter", "blur(0px)");
        $("#subscription_form > .form-group").css("-ms-filter", "blur(0px)");
        $("#subscription_alert").html(data);
      }
    });
  });
</script>
{% endblock %}
