{% extends "base.html" %}

{% block navbar %}
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav breadcrumbs">
    <li><a href="/facultat">Facultat</a></li>
    <li><a href="/grau">Grau</a></li>
    <li><a href="#">Curs</a></li>
  </ul>
</div><!-- navbar-collapse -->
{% endblock %}

{% block content %}
  <h1>Quins cursos curses?</h1>

  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  <form action="{% url 'subject' %}" method="post" class="form-horizontal" role="form">
  {% csrf_token %}
  {% for degree, course_list in degree_list.iteritems %}
  <div class="form-group" data-toggle="buttons">
      <h2>{{ degree }}</h2>    
  </div>
  <div class="form-group" data-toggle="buttons">
      {% for course in course_list %}
        <label class="btn btn-default col-xs-12 col-md-6 col-lg-4">
          <input type="checkbox" name="degree_course" value="{{ course.degree }}_{{ course.course_key }}_{{ course.group_key }}">{{ course.course }} {{ course.group }}</input>
        </label>
      {% endfor %}
  </div>
  {% endfor %}
  <div class="form-group">
    <button type="submit" class="btn btn-lg btn-danger">Escull assignatures <span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
  </form>
{% endblock %}
