{% extends "base.html" %}

{% block content %}
  <h1>Horaris Pompeu</h1>
  <h3>Crea el teu horari personalitzat i sincronitza'l amb els teus dispositius mòbils</h3>
  <p class="lead"><em>Horaris Pompeu</em> et permet escollir les assignatures que estàs cursant aquest <strong>{{term}}</strong> en molts dels graus oferts per l'UPF i generar un únic calendari que podràs sincronitzar amb els teus dispositius via <em>Google Calendar</em>.</p>
  <p class="lead">Amb <em>Horaris Pompeu</em> ja no hauràs de consultar diversos horaris per saber les classes que et toquen, ni t'hauràs de preocupar de modificacions en l'horari: apareixeran automàticament al teu nou calendari.</p>
  <p><a class="btn btn-lg btn-danger" href="{% url 'faculty' %}">Escull facultat <span class="glyphicon glyphicon-chevron-right"></span></a></p>
{% endblock %}

