{% extends "base.html" %}

{% block content %}
  <h1>Preguntes Més Freqüents</h1>
  <dl>
  <dt>Aquest servei és oficial?</dt>
    <dd>No, però és funcional. La versió oficial dels calendaris sempre la trobareu a la <a href="http://www.upf.edu/esup/docencia/horaris1314/">web de l'ESUP</a>, però em comprometo a mantenir aquests horaris i a corregir-los, en cas d'error.</dd>
    <dt>Falten assignatures?</dt>
    <dd>El servei ofereix la possibilitat de crear un horari pel trimestre actual. Si l'assignatura per la qual vols un horari es cursa en un altre trimestre no apareixerà. Si hauria d'aparèixer i no ho fa, <a href="/problemes">contacta</a> amb mi.</dd>
  <dt>L'horari no està actualitzat, què passa?</dt>
    <dd>Google Calendar triga 24/48h a detectar canvis a l'horari. Generalment això no és problemàtic, doncs els canvis d'última hora es comuniquen via Moodle o email.</dd>
  <dt>Falten classes a l'horari!</dt>
    <dd>Contacteu amb mi via el formulari que trobareu a <a href="/problemes">Problemes?</a>. Pot ser que al parsejar l'horari alguna classe no s'hagi processat correctament.</dd>
    <dt>Per afegir el calendari demanes la contrasenya del GMail, això no és segur, no?</dt>
    <dd>Doncs no, no gaire. La contrassenya no s'emmagatzema (<a href="https://github.com/octavifs/horarispompeu">codi font</a>) i la transmissió es fa a través d'HTTPS, així que la connexió és confidencial, però com que podria estar mentint, sempre hi ha l'opció d'afegir el calendari manualment.</dd>
    <dt>Però, no hi ha cap alternativa més elegant?</dt>
    <dd>La API de Google Calendar no ofereix l'opció d'afegir subscripcions a calendaris de manera automàtica, així que no. Si algú troba alguna solució millor, que m'ho comuniqui.</dd>
    <dt>No sé com configurar el calendari pel meu {mòbil | tablet | torradora}!</dt>
    <dd>L'apartat de configuració és millorable, així que si teniu problemes, podeu utilitzar el formulari de contacte i respondré el més aviat possible. S'accepten col·laboracions per a millorar les guies de configuració.</dd>
  </dl>
{% endblock %}

