{% extends "base.html" %}

{% block navbar %}
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav breadcrumbs">
    <li><a href="/grau">Grau</a></li>
    <li><a href="/curs">Curs</a></li>
    <li><a href="#">Assignatures</a></li>
  </ul>
</div><!--navbar-collapse -->
{% endblock %}


{% block content %}
    <h1>Quines assignatures curses?</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="input-group input-group-lg">
        <input type="search" class="form-control" id="searchbar" placeholder="Busca assignatura...">
        <span class="input-group-addon glyphicon glyphicon-search label-danger" style="color: #fff"></span>
    </div><!-- /input-group -->
    <form action="{% url 'calendar' %}" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    {% for year, degree_subjects in year_degree_subjects %}
        <div class="form-group" data-toggle="buttons-checkbox">
        <h2>{{ year }}</h2>
        </div>
        <div class="form-group" data-toggle="buttons">
        {% for degree_subject in degree_subjects %}
            <label class="btn btn-default col-xs-12 col-md-6 col-lg-4" title="{{ degree_subject.subject__name }} {{degree_subject.group}}">
                <input type="checkbox" name="degree_subject" value="{{ degree_subject.subject  }}_{{ degree_subject.group }}">{{ degree_subject.subject__name }} <em>{{degree_subject.group}}</em></input>
          </label>
        {% endfor %}
        </div>
    {% endfor %}
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-danger">Crea el calendari <span class="glyphicon glyphicon-calendar"></span></button>
    </div>
    </form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
    // Accents remover. Helps with fuzzy search
    accentsTidy = function(s){
        var r=s.toLowerCase();
        r = r.replace(new RegExp("\\s", 'g'),"");
        r = r.replace(new RegExp("[àáâãäå]", 'g'),"a");
        r = r.replace(new RegExp("æ", 'g'),"ae");
        r = r.replace(new RegExp("ç", 'g'),"c");
        r = r.replace(new RegExp("[èéêë]", 'g'),"e");
        r = r.replace(new RegExp("[ìíîï]", 'g'),"i");
        r = r.replace(new RegExp("ñ", 'g'),"n");                            
        r = r.replace(new RegExp("[òóôõö]", 'g'),"o");
        r = r.replace(new RegExp("œ", 'g'),"oe");
        r = r.replace(new RegExp("[ùúûü]", 'g'),"u");
        r = r.replace(new RegExp("[ýÿ]", 'g'),"y");
        r = r.replace(new RegExp("\\W", 'g'),"");
        return r;
    };

    // Javascript subject filter with fuzzy search (sublime go-to-anything panel style)
    function filtersubjects(){
        var filter = accentsTidy($("#searchbar").val()).replace(/ /g,'');
        var reg = new RegExp(filter.split('').join('\\w*').replace(/\W/, ""), 'i');
        $('label:has(:checkbox:not(:checked))').each(function(){
            var subject = accentsTidy($(this).text()).replace(/ /g,'');
            if (!subject.match(reg)) {
                $(this).hide()
            }
            else {
                $(this).show()
            };
        });
    };

    // Focuses search bar on load
    $("#searchbar").focus();
    // Focuses search bar every time anything else is clicked
    // the setTimeout(function()) is kind of a hack. Otherwise does not work.
    $("#searchbar").blur(function(){
        var searchbar = this
        setTimeout(function() {
            searchbar.select()
        }, 5);
    });
    $("#searchbar").keyup(filtersubjects);
    $("label").click(function(){
        // calls filtersubjects when label is clicked (maybe it has to go away)
        // the timeout is needed for the checkbox to become unchecked
        setTimeout(filtersubjects, 1);
    });
});
</script>
{% endblock %}
