<h1>Quines assignatures curses?</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'calendar' %}" method="post">
{% csrf_token %}
<ul>
{% for degree_subject in degree_subjects %}
    <li>
        <input type="checkbox" name="degree_subject" id="degree_subject{{ forloop.counter }}" value="{{ degree_subject.id }}" />
        <label for="degree_subject{{ forloop.counter }}">{{ degree_subject.subject.name }} {{degree_subject.year}}  {{degree_subject.group}}</label>
    </li>
{% endfor %}
</ul>
<input type="submit" value="Next" />
</form>