{% extends "base.html" %}

{% block content %}
<h1>Quines assignatures curses?</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'calendar' %}" method="post">
{% csrf_token %}
{% for year, degree_subjects in year_degree_subjects %}
    <h2>{{ year }}</h2>
    <ul>
    {% for degree_subject in degree_subjects %}
        <li>
            <input type="checkbox" name="degree_subject" id="year{{ forloop.parentloop.counter }}_degree_subject{{ forloop.counter }}" value="{{ degree_subject.subject  }}_{{ degree_subject.group }}" />
            <label for="year{{ forloop.parentloop.counter }}_degree_subject{{ forloop.counter }}">{{ degree_subject.subject__name }} {{degree_subject.year}} {{degree_subject.group}}</label>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
<input type="submit" value="Next" />
</form>
{% endblock %}
