{% extends "base.html" %}

{% block content %}
<h1>Quins cursos curses?</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'subject' %}" method="post">
{% csrf_token %}
{% for degree, year_list in degree_list.iteritems %}
    <h2>{{ degree }}</h2>
    <ul>
    {% for year in year_list %}
        <li>
            <input type="checkbox" name="degree_year" id="degree{{ forloop.parentloop.counter }}_year{{ forloop.counter }}" value="{{ year.degree }}_{{ year.year }}_{{ year.group }}" />
            <label for="degree{{ forloop.parentloop.counter }}_year{{ forloop.counter }}">{{ year.year }} {{ year.group }}</label>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
<input type="submit" value="Next" />
</form>
{% endblock %}
