aiohttp==0.17.2
appnope==0.1.0
beautifulsoup4==4.4.0
boto3==1.1.1
botocore==1.1.8
chardet==2.3.0
decorator==4.0.2
Django==1.8.3
django-extensions==1.5.5
docutils==0.12
futures==2.2.0
gnureadline==6.3.3
gunicorn==19.3.0
icalendar==3.9.0
ipython==4.0.0
ipython-genutils==0.1.0
jmespath==0.7.1
path.py==7.6
pexpect==3.3
pickleshare==0.5
python-dateutil==2.4.2
pytz==2015.4
simplegeneric==0.8.1
six==1.9.0
traitlets==4.0.0
